.annual-main-container{
    margin: 0%;
    display: flex;
    flex-direction: column;
    
}
.annual-sub-nav{
    padding-left: 10%;
    padding-right: 10%;
 
    display: flex;
    flex-direction: row;
    height: 96px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
opacity: 1;
align-items: center;
justify-content: space-between;



}
.annual-sub-nav-item{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
font-size:  16px;
color: #747474;
letter-spacing: 0px;
 opacity: 1;
}
.annual-container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 5%;
    padding-bottom: 1%;
    position: relative;
    display: flex;
  flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #616161;
border-radius: 5px;
opacity: 1;
}
.annual-container-header{
    align-self: center;
    font-size: 50px;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #F1B787;
opacity: 1;
position: absolute;
top:-25px;
background: white;
width: 60%;
display: flex;
flex-direction: column;
align-items: center;
}
.annual-container-border{
    margin-top: 10px;
height: 4px;
width: 100px;
background-color: gray;

}
.annual-container-paragraph{
    padding-left: 3%;
    padding-right: 3%;
   
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    font-size: 30px;

    letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.annual-ICT-card-container{
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    grid-auto-rows: minmax(300px,auto);
    grid-gap: 20px;
  }
.annual-ICT-card{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}
