.fix_navigation_bar{
    height: 90px;
    background: #F1B787;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.7;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:5%;
    padding-right:5%;
    font-size:18px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.fix_navigation_bar a{
    color: #ffffff;
    margin-left: 20px
}